<table>
    <thead>
        <tr>
            <td *ngFor="let pole of tabulka" [attr.id]="pole.id">{{pole.nadpis}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let riadok of data">
            <td *ngFor="let stlpec of tabulka">
                <div *ngFor="let vl of riadok">
                    <span *ngIf="vl.id === stlpec.id">{{vl.hodnota}}</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<hr>
<app-dynamic-form *ngIf="person" [dataObject]="person" (uloz)="ukladam($event)"></app-dynamic-form>